@model frontToBackPractice.ViewModels.HomeVM

<main>

    <!-- SLIDER START -->
    <section id="slider">

        <div class="owl-carousel slider">
            @foreach (var item in Model.Sliders)
            {
                <div>
                    <img src="~/assets/@item.Image" alt="">
                </div>
            }
        </div>

        <div class="container context pl-lg-5 ml-lg-3">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text">

                        <h1>@Model.SliderInfo.Title</h1>

                        <p class="text-black-50 d-none d-sm-block">
                            @Model.SliderInfo.Description
                        </p>

                        <div class="img">
                            <img src="~/assets/img/@Model.SliderInfo.SignatureImage" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- SLIDER END -->

    <!-- PRODUCTS START -->
    <section id="products">
        <div class="container">
            <div class="row pt-5">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item text-center">
                        <div class="img">
                            <img src="~/assets/img/shop-14-img.jpg" class="img-fluid" alt="">
                        </div>
                        <h6 class="mt-3">MAJESTY PALM</h6>
                        <span class="text-black-50">$259</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PRODUCTS END -->

    <!-- ABOUT START -->
    <section id="about">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-6">
                    <img src="~/assets/img/h3-video-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <h1>Suprise Your <span>Valentine!</span></h1>
                    <ul class="list-unstyled">
                        <li><img src="~/assets/img/h1-custom-icon.png"> Hand picked just for you.</li>
                        <li><img src="~/assets/img/h1-custom-icon.png"> Unique flower arrangements</li>
                        <li><img src="~/assets/img/h1-custom-icon.png"> Best way to say you care.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT END -->

</main>
